*{
    padding: 0;
    margin: 0;
}
#navbar{
    display: flex;
    background-color: #f1f1f1;
    justify-content:space-between;
    align-items:center;
    padding: 10px 15px;
    
}
#navbar div li{
    padding: 0 15px;
}
#navbar div li a{
    text-decoration: none;
    color: black;
}
#navbar div li a:hover{
    text-decoration: underline;
    color: #0F9D58;
}
#sign{
    background-color: #3b47e9;
    border-radius: 100px;
    padding: 10px 15px ;
}
#sign a{
    color: white;
    text-decoration: none;
}
#sign:hover{
    box-shadow: 1px 1px 2px rgb(177, 175, 174);
}
#navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#navbar div #ban-1,#search div #ban-1{
    color: #F4B400;
}
#navbar div #ban-2,#search div #ban-2{
    color: #0F9D58;
}
#navbar div #ban-3,#search div #ban-3{
    color: #4285F4;
}
#navbar div #ban-4,#search div #ban-4{
    color: #DB4437;
}
#navbar div #ban-5,#search div #ban-5{
    color: #F4B400;
}
#navbar div #ban-6,#search div #ban-6{
    color: #4285F4;
}
#navbar div #ban-7,#search div #ban-7{
    color: #0F9D58;
}#navbar div #ban-8,#search div #ban-8{
    color: #DB4437;
}

#search{
    padding-top: 150px;
    
}
#search div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#search div form #text{
    border:1px solid #c7c5bf;
    padding: 15px 20px;
    width: 550px;
    border-radius: 50px;
    position: relative;
}
#search div form  #text:hover{
    box-shadow: 1px 1px 1px rgb(200, 203, 204);
}
#search div h1{
    font-size:15vh;
    padding-bottom: 20px;
    font-weight: 100;
}
#navbar div h1,#search div h1{
    font-weight: 150;  
}
#search div form #text::placeholder{
   font-family:Arial, FontAwesome;
   color: #0F9D58;
}
#search div form #index{
    margin-top: 25px;
    justify-content:space-evenly;
    align-items:center;
    padding: 0 140px;
}
#search div form #image{
    margin-top: 25px;
    justify-content: end;
    align-items:center;
}
#search div form #index input,#search div form #image input{
    padding: 5px 8px;
    border-radius: 5px;
    border:1px solid #eeeeee;
    color: #504e4e;
    font-size: medium;
    background-color: #eeeeee;
}

#search div form #index input:hover{
    cursor: pointer;
    border-color: #b3b2b2;
}
#ban-im{
    padding-top: 70px;
    position: absolute;
    padding-left: 300px;
    color: #4285F4;
    font-size:larger;


}
#srch{
  border:none;
  background: transparent;
  position:absolute;
  margin-top: 15px;
  right: 400px;
  font-size: large;
  cursor: pointer;
}
#srch #v{
    padding:0 20px;
    font-size: large;
    color:#DB4437;
}

#srch #c{
    padding-right: 20px;
    font-size: large;
    color: #F4B400;   
}
#srch #cm{
    font-size: large;
    color: #F4B400;   
}
#var{
    color: #cac9c9;
}


#advance{
    padding-top: 50px;
}
#advance form #mother{
    display: flex;
    justify-content: space-between;
}
#advance form #mother div:nth-child(1){
    padding-left: 100px;
    line-height: 40px;
}
#advance form #mother div:nth-child(1) h3{
    font-weight: 100;
    color: #504e4e;
}
#boxes{
    width:400px;
    line-height: 40px;
    
}
#boxes input{
    width:100%;
    padding: 5px 0;
    margin:0 0 0 30px;
}
#advance form #mother div:nth-child(3){
    margin-right:115px ;
    line-height: 40px;
}
#advance form #mother div:nth-child(3) h3{
    font-weight: 100;
    color: #504e4e
}
#advance form #sub{
    background-color: #4285F4;
    position: relative;
    left:42.7%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    font-size: 2.5vh;
}

#title-ad{
    padding: 100px 0 0 100px;
    color:#DB4437
}

#about-me #ban-1{
        color: #F4B400;
    }
#about-me #ban-2{
    color: #0F9D58;
}
#about-me #ban-3{
    color: #4285F4;
}
#about-me #ban-4,#search div #ban-4{
    color: #DB4437;
}
#about-me #ban-5,#search div #ban-5{
    color: #F4B400;
}
#about-me #ban-6,#search div #ban-6{
    color: #4285F4;
}
#about-me #ban-7,#search div #ban-7{
    color: #0F9D58;
}
#about-me #ban-8,#search div #ban-8{
    color: #DB4437;
}

#about-me{
    display: flex;
    font-size: x-large;
    padding-top: 50px;
    align-items: center;
    margin-left: 40%;
    
}

#about-me #about-me-h1{
    padding-right: 20px;
}

#description{
    padding: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: justify;
}

#description h1{
    padding-top: 50px;
    font-weight: 100;
    color: #4285F4;
}

#description h3{
    text-align: center;
    padding-top: 20px;
    font-weight: 100;   
}
#description h4{
    text-align: center;
}

#gl{
    padding-right: 10px;
    align-items: center;
    color: #969491;

}